<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="AIKernel Local Packages" value="..\artifacts\local-packages" />
    <add key="AIKernel.NET Release Packages" value="..\AIKernel.NET\src\AIKernel.Abstractions\bin\Release" />
    <add key="AIKernel.Dtos Release Packages" value="..\AIKernel.NET\src\AIKernel.Dtos\bin\Release" />
    <add key="AIKernel.Enums Release Packages" value="..\AIKernel.NET\src\AIKernel.Enums\bin\Release" />
    <add key="AIKernel.Common Release Packages" value="..\AIKernel.Core\src\AIKernel.Common\bin\Release" />
    <add key="AIKernel.Core Release Packages" value="..\AIKernel.Core\src\AIKernel.Core\bin\Release" />
    <add key="AIKernel.Kernel Release Packages" value="..\AIKernel.Core\src\AIKernel.Kernel\bin\Release" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
